<mat-toolbar>
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/sysvar">System Variables</button>
    <button mat-raised-button (click)="loadData()">System Variable {{sysVarAddress}}</button>
  </mat-toolbar>
  <app-property-view [ccuObject]="sysVar"></app-property-view>
  <div class="container" *ngIf="sysVarValue" @fadeIn>
    <mat-card>
      <mat-card-title>System Variable Value</mat-card-title>
      <mat-list>
        <mat-list-item>
          <div mat-line class="title">API</div>
          <div mat-line class="subtitle">{{sysVarValue.timestamp | date:'long'}}</div>
          <div class="flex"></div>
          <mat-spinner [diameter]="20" *ngIf="isLoadingValue"></mat-spinner>
          <button mat-icon-button aria-label="Refresh" (click)="loadValue()" [disabled]="isLoadingValue">
            <mat-icon>refresh</mat-icon>
          </button>
          <mat-chip-list aria-label="Value" [disabled]="isLoadingValue">
            <mat-chip color="primary" selected (click)="setValue(sysVarValue)">{{sysVarValue.value}}</mat-chip>
          </mat-chip-list>
        </mat-list-item>
        <mat-list-item *ngIf="sysVarValueMqtt$ | async as mqttValue">
          <div mat-line class="title">MQTT</div>
          <div mat-line class="subtitle">{{mqttValue.timestamp | date:'long'}}</div>
          <div class="flex"></div>
          <button mat-icon-button aria-label="Refresh" matTooltip="Trigger MQTT Sync"
            (click)="ccuMqtt.startSysVarValueSync(sysVarReference)" [disabled]="isLoadingValue">
            <mat-icon>refresh</mat-icon>
          </button>
          <mat-chip-list aria-label="Value">
            <mat-chip color="primary" selected (click)="setValue(mqttValue)">{{mqttValue.value}}</mat-chip>
          </mat-chip-list>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>